$size:100px;
.container{
  width:$size + $size ;
  // height:200px - 20px;
  height:calc(50vh - 20px);
  font-size:10px * 2;
  margin: (30px / 2);
  padding:20px % 3 ;
  background-color:orange;
  color:#fff;
}

//  24분